body{
    margin: 0;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.post {
    height: 200px;
    width: 19%;

    background: white;
    color: #6a65e2;
    font-weight: bold;


    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 15px;

}