h1 {background: deepskyblue; color:yellow; text-align: center}
p {background: yellow; color:deepskyblue}
li {background: deepskyblue; color: yellow}
ul {background: deepskyblue; color: yellow}
h2 {background: deepskyblue; color: yellow; text-align: center}
a {background: deepskyblue; color: yellow}
img {width: 300px; height: 350px}
body {background: yellow}